
:root {
  --faded-back: rgba(0,0,0,0.7);
  --text-clor: #ffffff;
  --radius: 15px;
  --gap: 2rem;
  --border: 2px solid;
  --bg-dark:#060606;
  --bg-light:#e9eaee;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
